<div class="mt-4">
  <h2 class="text-center">Partidos en juego</h2>
  <iframe src="https://www.scorebat.com/embed/" frameborder="0" width="600" height="100%" allowfullscreen allow='autoplay; fullscreen' style="width:100%;height:1200px;overflow:hidden;display:block;" class="_scorebatEmbeddedPlayer_"></iframe>
</div>


<script>
(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=arrv'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));
</script>



