:host{

  .color-nav{
    background-color: #0d3653;
    color: aliceblue;
  }

  li a{
    color: aliceblue;
  }

  ul{
    background-color: #0d3653;
  }
  ul li:hover{
    background-color: #0f1b2a;
  }

}
