<nav class="navbar navbar-expand-lg color-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img  class="rounded" src="assets/logo-horizonta.png" width="150px" height="50px" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">DEPORTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIVE</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CASINO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">FUTBOL</a></li>
            <li><a class="dropdown-item" href="#">LUCHA LIBRE</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">BALONCESTO</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >RESULTADOS</a>
        </li>
      </ul>
      <ul class="navbar-nav p-2 d-flex justify-content-end">

        <li class="nav-item">
          <a class="nav-link " data-bs-toggle="modal" data-bs-target="#contenedor-modal" href="#">REGISTRARSE</a>


          <!--Formulario Modal-->
        <div class="modal" id="contenedor-modal" tabindex="-1" >
          <div class="modal-dialog  ">
            <div class="modal-content" >
              <div class="modal-header">
                <button class="btn" data-bs-dismiss="modal">&times;</button>
              </div>
              <div class="modal-head m-4 " >
                <h2 style="color:black;padding: 5px; text-align:center;">Abrir un Cuenta</h2>




                 <app-formulario-registro ></app-formulario-registro>

              </div>
            </div>
          </div>
        </div>

        </li>

        <li class="nav-item">
          <!-- Button trigger modal -->
          <a class="btn nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">INICIAR SESIÓN</a>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">INICIO DE SESIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <app-login></app-login>
                  </div>
                </div>
              </div>
            </div>



        </li>
      </ul>

    </div>
  </div>
</nav>

