.modal input{
  display: block;
}

.drag-area{
  border: 5px dashed black;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.tittle{
  color: black;
  font-weight: 500;
  font-size: 30px;
}
.drag-area.active{
  background-color: #b8d4fe;
  color: black;
  border: 2px dashed #618ac9;
}

.drag-area span{
  font-size: 25px;
  color: #000;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  background-color: #5256ad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.file-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}
#preview{
  margin-top: 10px;
}
.status-test{
  padding: 0 10px;
}
.success{
  color: #52ad5a;
}
.failure{
  color: #ff0000;
}
